extends layout

block content
	div(class='row')
		div(class='col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-1 col-sm-10')
			div(class='well')
				h3='E-Noticeboard | Register'
				hr
				form(action='/users/register',method='post')
					label='Name'
					input(type='text',name='name', class='form-control', placeholder='Enter your name')
					br
					label='Username'
					input(type='email',name='username', class='form-control', placeholder='Enter registered email address')
					br
					label='Password'
					input(type='password',name='password',class='form-control',placeholder='Your password')
					br
					input(type='submit',class='btn btn-primary', value='Login')
					&nbsp;&nbsp;
					a(href='/users/client_login', class='btn btn-info')='Back to login'
